@media (min-width:480px) and (max-width:776px) {

    .a,.b,.c,.d,.e,.f,.g,.h,.i {
            background-color: cornflowerblue;
            color:whitesmoke;
            border: 1px solid black;
            text-align: center;
     }
    
    .a,.b,.c,.d {
    width: 480px;
    height: 75px;
    line-height: 4em;
    
    }
    
    .e,.f,.g,.h {
    width: 240px;
    height: 250px;
    line-height: 16em;
    
    }
    
    .ef {
        display: flex;
        flex-flow: row wrap;
        /* align-content: left; */
    }
    
    .gh {
        display: flex;
        flex-flow: row wrap;
        /* align-content: left; */
    }
    
    .i {
    width: 480px;
    height: 80px;
    line-height: 5em;
    
    }
    
    /* .e,.g {
        float: left;
    }
    .f,.h {
    float: right;
    } */
    
    }
    

@media (min-width:768px) and (max-width:960px) {
    .a,.b,.c,.d,.e,.f,.g,.h,.i {
        background-color:teal;
        color:springgreen;
        border: 1px solid black;
        text-align: center;
    }
    .a {
    width: 960px;
    height: 100px;
    line-height: 5em;

    }
    .b {
        width: 200px;
        height:600px;
        float: left;
        line-height: 37em;

        }
        /* .bedit {
            display: grid;
        } */

    .c{
        width: 380px;
        height:200px;
        /* float: left; */
        line-height: 11em;

    }
    .d{
        width: 380px;
        height:200px;
        /* float: right; */
        line-height: 11em;

    }

    .cd{
        display: grid;
        grid-template-columns: 1fr 1fr;

        }

        .ef{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .gh{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .efgh{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            line-height: 15em;

            /* flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
            align-items: right; */

        }

    .e,.f,.g {
        width: 190px;;
        height: 250px;
        /* float: left; */
    }

   .h {
    width: 190px;;
    height: 250px;
    /* float: right; */
    }
    
    .i {
    width: 760px;
    height: 150px;
    float: left;
    line-height: 10em;

    }

    }

    @media (min-width:961px) {

        .a,.b,.c,.d,.e,.f,.g,.h,.i {
            background-color:tan;
            color:tomato;
            border: 1px solid black;
            text-align: center;
        }
        .a {
            width: 960px;
            height: 100px;
            line-height: 5em;
        
            }
            .b {
                width: 200px;
                height:600px;
                float: left;
                line-height: 37em;
        
                }
                /* .bedit {
                    display: grid;
                } */
        
            .c{
                width: 380px;
                height:200px;
                /* float: left; */
                line-height: 11em;
        
            }
            .d{
                width: 380px;
                height:200px;
                /* float: right; */
                line-height: 11em;
        
            }
        
            .cd{
                display: grid;
                grid-template-columns: 1fr 1fr;
        
                }
        
                .ef{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .gh{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
        
                .efgh{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    line-height: 15em;
        
                    /* flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: left;
                    align-items: right; */
        
                }
        
            .e,.f,.g {
                width: 190px;;
                height: 250px;
                /* float: left; */
            }
        
           .h {
            width: 190px;;
            height: 250px;
            /* float: right; */
            }
            
            .i {
            width: 760px;
            height: 150px;
            float: left;
            line-height: 10em;
        
            }
    
    }

